@use 'variables';

body {
    background-color: variables.$principalColor;

    .container {
        margin: 0 auto;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        color: variables.$textColor;
        font-size: 30px;
        text-shadow: 1px 1px 1px variables.$textShadow;;
    }
}